/* Reset CSS Eric Meyer
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after{
    content:'';
    content:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
*,*::before,*::after{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

/* Colours

$gisele-bluegreen: #016b69;
$gisele-green: #484742;
$gisele-orange: #f99b34;
$gisele-purple: #550760;
$gisele-red: #d02415;
$gisele-beige: #fffce9 rgba(255, 252, 233, 1);

*/

/* Typography
*/

@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: normal;
    src: local('Playfair'), url('../fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-weight: 700;
    font-style: normal;
    src: local('Playfair Bold'), url('../fonts/Playfair/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 600;
    font-style: normal;
    src: local('WorkSans SemiBold'), url('../fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 400;
    font-style: normal;
    src: local('WorkSans'), url('../fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'League Spartan';
    font-weight: 700;
    font-style: normal;
    src: local('League Spartan'), url('../fonts/LeagueSpartan-Bold.ttf') format('truetype');
}

/* Styles
*/

html {
}

body {
    background-color: #fffce9;
    color: #484742;
    font-size: 1.5rem;
    font-family: 'Playfair', Georgia, serif;
}

a {
    color: #484742;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover,
a:focus {
    color: #484742;
    border-bottom: 1px solid #f99b34;
}


.content {
  width: auto;
  margin: 2rem 4rem;
  
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.content .column  {
  -ms-flex: 0 0 auto; 
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px;
  width:  calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px; 
}

.column:first-child {
  margin-left: 0;
}
.column:last-child {
  margin-right: 0;
}

.content ul.first-list {
  padding: 0;
  margin: 0;
  border: 0;
  
}

.content ul.first-list {
  background: transparent;
}

.content ul.first-list li {
  display: block;
  width: 100%;
  border: 1px solid #484742;
  padding: 15px 20px;
  margin-bottom: 10px;
}

.content ul.first-list li a h3 {
    padding: 0;
    margin: 0;
    font-family: 'Playfair', Georgia, serif;
    font-size: 1.5rem;
    line-height: 1;
}

.content ul.first-list li a h3 span {
    font-weight: 700;
}


.content ul.first-list li .second-list {
  display: none;
  margin-top: 10px;
  margin-left: 0;
}

.content ul.first-list li.active a h3 span,

.content ul.first-list li.active .second-list li.active a {
  color: #f99b34;
}

.content ul.first-list li.active .second-list,
.content ul.first-list li:hover .second-list {
  display: block;
}

.content ul.first-list .second-list li {
    font-size: 50%;
    line-height: 1;
    font-family: 'League Spartan', Roboto, sans-serif;
    display: inline;
    padding: 2px 0;
    margin: 0 5px 0 0;
    background: transparent;
    border: 0;
    white-space: wrap;
    
}


.content ul.first-list .second-list li a {
    padding: 2px 0;
    margin: 0 10px 0 0;
    white-space: wrap;
   
}


.cell {
  width: auto;
  margin: 0 4rem;
}

.cell .image-grid {
  line-height: 0;
   
  -webkit-column-count: 10;
  -webkit-column-gap:   0px;
  -moz-column-count:    10;
  -moz-column-gap:      0px;
  column-count:         10;
  column-gap:           0px;  
}

.cell .image-grid li {
  border: 4px solid #fffce9;
}


.cell .image-grid img {
  width: 100% !important;
  height: auto !important;
}

#detail-properties li {
    font-size: 0.85rem;
}

#detail-properties li span {
    font-family: 'Work Sans', Roboto, sans-serif;
}

#detail-properties li a {
    font-family: 'League Spartan', Roboto, sans-serif;
    font-weight: 700;
    display: block;
}

