<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Warp and Weft of Memory</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/motion-ui/dist/motion-ui.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app" class="grid-container full">
    
      <div class="grid-x current-prop-values">  
        <!-- loader
        <div id="content-loader" class="large-12 cell text-center">
          <span>Loading...</span>
          <div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        -->
        <header class="small-12 cell text-center">
            <span>
                <strong class="current-prop">{{ activeProperty }}</strong>
                <a v-on:click="prevProperty()" class="previous-prop" href="#">&larr;</a><a v-on:click="nextProperty()" class="next-prop" href="#">&rarr;</a>
            </span>
        </header>
        <nav  class="small-12 cell">
            <ul class="grid-x small-up-2 medium-up-6 large-up-8 text-center">
              <li v-for="value in activeValues" 
                   v-bind:key="value"
                   v-bind:class="getValueListClass(value)"
                   v-on:click="selectValue(activeProperty, value)"
                   class="cell"
                   >
                   <a v-bind:href="'#/?prop='+selectedProperty+'&value='+value" :title="value">{{ value.replace(/_/g, ' ') }}</a>
              </li>
            </ul>
        </nav>
      </div><!-- /.current-prop-values -->
      
      <div id="viewer" class="grid-x grid-padding-x">
        <header class="cell">
            <h2>{{ selectedProperty }} — {{ selectedValue.replace(/_/g, ' ') }}</h2>
            <p class="status"><strong>{{ status }}</strong></p>
        </header>
        <div class="cell">
          <ul class="image-grid">
            <li v-for="result in results" 
                 v-bind:key="result.pageid"
                 v-bind:class="{'quilt-image': !result.isVideo, 'quilt-video': result.isVideo}"
                 v-on:click="selectPage(result.title, $event)"
                 data-toggle="sidebar-reveal"
                 >
                 <img v-if="!result.isVideo" :src="result.thumburl" :alt="result.pageid">
                 <video v-else :src="result.thumburl" :alt="result.pageid">
            </li>
          </ul>

          <hr v-if="pages.length">
          <div class="page-list">
            <h5 class="subheader" v-if="pages.length">Pages with value <strong>{{ selectedValue.replace(/_/g, ' ') }}</strong> for the {{ selectedProperty }} property</h5>
            <ul class="pages grid-x grid-margin-x small-up-4 medium-up-8 large-up-10">
              <li v-for="page in pages" 
                  v-bind:key="page.pageid"
                  v-on:click="selectPage(page.title, $event)"
                  data-toggle="sidebar-reveal"
                  class="cell"
                  >
                  <strong>{{ page.title }}</strong>
                  <span class="page-preview" v-html="page.content"></span>
              </li>
            </ul>
          </div><!-- /.page-list .page-list-preview -->
        </div><!-- /.cell -->
      </div><!-- /#viewer -->

        <div class="reveal image-sidebar" id="sidebar-reveal" data-reveal data-animation-in="slide-in-right fast" data-animation-out="slide-out-right fast">
          <button class="prev-button" v-on:click="selectPreviousPage()">&larr;</button>
          <button class="next-button" v-on:click="selectNextPage()">&rarr;</button>
          <button class="close-button" data-close>&times;</button>
          <div class="sidebar-content">
              <h4 id="detail-title"><a :href="'http://37.218.246.155/warpweft-wiki/index.php/' + detail.title" target="_blank">{{ detail.title.replace('File:', '') }}</a></h4>
              <p>
                <img v-if="detail.imageURL" id="detail-image" :src="detail.imageURL" :alt="detail.title">
                <video v-if="detail.videoURL" id="detail-video" :src="detail.videoURL" :alt="detail.title" controls autoplay>
              </p>
              <div id="detail-content" v-html="detail.content"> </div>
              <div id="detail-properties">
                <ul>
                  <li v-for="p in detail.properties" 
                      v-bind:key="p.value"
                      >
                      <a href="#" v-on:click="selectValue(p.property, p.value)">{{ p.property.replace(/_/g, ' ') }}:{{ p.value.replace(/_/g, ' ') }}</a>
                  </li>
                </ul>
              </div>
              <div id="detail-imagelinks">
                <hr v-if="detail.imagelinks.length">
                <h5 v-if="detail.imagelinks.length">Pages that link to this image</h5>
                <ul>
                  <li v-for="page in detail.imagelinks" 
                      v-bind:key="page.pageid"
                      >
                      <a :href="'http://37.218.246.155/warpweft-wiki/index.php/' + page.title" target="_blank">{{ page.title }}</a>
                  </li>
                </ul>
              </div>
            </div><!-- /.sidebar-content-->
        </div><!-- /#sidebar-reveal .reveal-->
        
    </div><!-- /.grid-container .full -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/dist/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="bower_components/vue-resource/dist/vue-resource.js"></script>
    <script src="bower_components/motion-ui/dist/motion-ui.js"></script>
    <!-- endbower -->
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="bower_components/vue-resource/dist/vue-resource.js"></script>
    <script src="bower_components/vue-router/dist/vue-router.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript">
        $(document).foundation();
    </script>
  </body>
</html>
