/* Typography
*/

@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: normal;
    src: local('Playfair'), url('../fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 600;
    font-style: normal;
    src: local('WorkSans SemiBold'), url('../fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 400;
    font-style: normal;
    src: local('WorkSans'), url('../fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
}

@import 'foundation/settings';

// bower:scss
@import "bower_components/foundation-sites/scss/foundation.scss";
// endbower

@include foundation-everything;


/* Image quilt styles
*/

body {overflow-x: hidden;}

a,
a img { outline : none !important; }

/* wiki links */
a[href*="//"]:not([href*="http://37.218.246.155/~manufactura/"]) {
  &::after {
    display: inline-block;
    content: '↗';
    color: $primary-color;
    margin-left: 4px;
  }
}

.current-prop-values {
    font-size: 90%;
    background: #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}

.current-prop-values header {
    line-height: 1;
    padding-top: 0.85rem;
    padding-bottom: 0.45rem;
    span {
        display: inline-block;
        min-width: 16rem;
    }

}

.current-prop-values header a {
    font-size: 140%;
    font-weight: 700;
    display: inline-block;
    padding: 0.25rem 0.45rem;
    border: 1px solid #ddd;
}

.current-prop-values header a:last-child {
    border-left: 0;
}

.current-prop-values header a:hover {
    background: #ddd;
}

.current-prop-values strong.current-prop {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 0.45rem;
    min-width: 10rem;
    padding: 0.25rem 0.45rem;
}

.current-prop-values ul {
    margin: 0;
    line-height: 1.1;
    padding-bottom: 0.45rem;
}

.current-prop-values ul li {
    list-style-type: none;
}

.current-prop-values ul li.selected-value a {
    font-weight: 700;
    background: #fff;
    color: #333;
}

.current-prop-values ul li a {
    display: block;
    padding: 0.4rem 0.25rem;
    border-right: 1px solid #eee;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        background: #fff;
    }

}


body.is-reveal-open {
    overflow: auto !important;
}

#viewer {

    header {
        line-height: 1.1;
        p { margin-bottom: 0.45rem; }
    }
    
  .page-list {
    h5.subheader strong {
      font-weight: normal;
      color: $black;
    }
    .pages {
      margin-left: 0;
      margin-top: 0.85rem;
      li {
        font-size: 85%;
        line-height: 1.1;
        list-style-type: none;
        margin-bottom: 0.85rem;
        &:hover {
          cursor: pointer;
          & > strong:first-child { color: #222; }
          .page-preview { border: 1px solid #ccc; }
        }     
        & > strong:first-child {
          color: #666;
          display: block;
          padding: 0 0 0.25rem;
          line-height: 1.1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
        .page-preview {
          font-size: 4px !important;
          line-height: 4px !important;
          margin-bottom: 1px !important;
          display: block;
          border: 1px solid #ddd;
          padding: 0.85rem;
          &.active-image {
            border: 1px solid #ccc;
          }

          &:before, &:after {
            content: " ";
            display: table;
          }

          &:after { clear: both; }
            
          & > * { /* make elements inside page preview not clickable */ 
            pointer-events: none;
          }

          h1, h2, h3 {
            font-size: 6px !important;
            line-height: 6px !important;
            margin-bottom: 2px !important;
          }
          
          h4, h5, h6,
          p, strong, em,
          ol, ul, li, dl,
          a, pre, code, blockquote,
          .smwtticon warning,
          .smwttcontent {
            font-size: 4px !important;
            line-height: 4px !important;
            margin-bottom: 2px !important;
          }
          
          ol, ul { margin-left: 4px; }
          
          br {
            display: block;
            margin-bottom: 2px;
            clear: both;
          }
          a { padding: 0; }

          table.infobox,
          table {
            width: 5px !important;
            margin-bottom: 2px !important;
            padding: 0;
            margin-left: 2px;
            border-collapse: collapse;
            border-spacing: 0;

            th, th span,
            td {
              font-size: 4px !important;
              line-height: 4px !important;
              padding: 0;
            }
          }

          /* resize and style images in the wiki page */        
          img {
            display: inline-block;
            height: 20px;
            width: auto !important;
            margin-bottom: 4px;
            margin-right: 2px;
            vertical-align: top;  
          }
          a.image {
            display: inline-block;
            height: 20px;
            margin: 4px 2px 4px 0;
            img {
              height: 20px;
              width: auto !important;
              vertical-align: top;  
              margin: 0;
            }  
          }
          & + img,
          & + a.image, & + a.image img,
          & > .center > .floatnone > a.image, & > .center > .floatnone > a.image img,
          & > .floatnone > a.image, & > .floatnone > a.image img {
            height: 35px;
            width: auto !important;
          }
            
            
          .mediaContainer,
          .kskin,
          audio {
            width: 80% !important;
          }
        }
      }
    }
  }

}

ul.image-grid {
    margin: 1rem 0 0;
    padding: 0 0.85rem;
    text-align: center;
    li {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        &.active-image,
        &:hover,
        &:focus {
            cursor: pointer;
            img,
            video { opacity: 1; }
        }
        &.active-image {
            box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.8);
        }
        img {
            display: inline-block;
            height: 140px;
            width:  auto;
            opacity: 0.9;
            z-index: -2;
        }
        &.quilt-video {
            position: relative;
            &::before {
                display: block;
                position: absolute;
                content: " ▶ ";
                color: rgba(255, 255, 255, 0.6);
                font-size: 40px;
                line-height: 1;
                top: calc(50% - 25px);
                left: calc(50% - 10px);
                z-index: 5;
            }
            video {
                display: inline-block;
                height: 140px;
                width:  auto;
                max-width: 100%;
                opacity: 0.9;
                z-index: -2;
                vertical-align: middle;
            }
        }
    }
}

.reveal.image-sidebar {
    position: fixed;
    margin: auto;
    width: 420px;
    height: 100%;
    right: 0px !important;
    left: auto !important;
    top: 0;
    
    .next-button,
    .prev-button { cursor: pointer; }
}

.image-sidebar .sidebar-content {
    #detail-title {
        margin-top: 0.45rem;
        font-size: 0.9rem;
        font-family: $body-font-family;
        font-weight: 700;
        line-height: 1.2;
    }
    #detail-content {
        margin-bottom: 0.45rem;
        
        /* wiki page previews */
        a.image,
        img {
          display: block;
          margin: 0.5rem 0;
        }
        br {
          display: block;
          margin-bottom: 0.5rem;
        }
        
    }
    #detail-properties {
        ul {
            list-style-type: none;
            margin-left: 0;
            li {
                font-size: 90%;
                line-height: 1;
                margin-bottom: 0.25rem;
                a {
                    display: inline-block;
                    background: #eee;
                    padding: 0.25rem 0.45rem;
                    &:hover,
                    &:focus { background: #ddd; }
                }
            }
        }
    }
    #detail-video {
      max-width: 100%;
    }
    #detail-imagelinks {
        ul {
            list-style-type: none;
            margin-left: 0;
        }
    }
    
}

#content-loader {
  padding-top: 1.5rem;
  
  span {
    display: inline-block;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    vertical-align: middle;
  }
  .line-scale {
  display: inline-block;
  vertical-align: middle;
  }
  
  /* by ConnorAtherton
  https://github.com/ConnorAtherton/loaders.css */

  @-webkit-keyframes line-scale {
    0% {
      -webkit-transform: scaley(1);
              transform: scaley(1); }
    50% {
      -webkit-transform: scaley(0.4);
              transform: scaley(0.4); }
    100% {
      -webkit-transform: scaley(1);
              transform: scaley(1); } }
  @keyframes line-scale {
    0% {
      -webkit-transform: scaley(1);
              transform: scaley(1); }
    50% {
      -webkit-transform: scaley(0.4);
              transform: scaley(0.4); }
    100% {
      -webkit-transform: scaley(1);
              transform: scaley(1); } }

  .line-scale > div:nth-child(1) {
    -webkit-animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(2) {
    -webkit-animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(3) {
    -webkit-animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(4) {
    -webkit-animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(5) {
    -webkit-animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div {
    background-color: rgba($primary-color, 0.6);
    width: 4px;
    height: 30px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block; }

}
