/* Reset CSS Eric Meyer
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,
ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,
section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after{
    content:'';
    content:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
*,*::before,*::after{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a,
a img,
audio,
video { outline: none; }

/* Colours
*/
$gisele-bluegreen: #33799c;
$gisele-green: #484742; /*rbga(72, 71, 66, 1)*/
$gisele-orange: #de825b; /* updated to cesare's palette */
$gisele-purple: #550760;
$gisele-red: #d02415;
$gisele-beige: #fffce9;
$gisele-gray: #f9f9f9;
$gisele-white: #fff;
$gisele-black: #000;
$gisele-blue: #3c7ea0;
$gisele-yellow: #c09e5d;

@mixin background-opacity($color, $opacity) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin border-color-opacity($color, $opacity) {
    border-color: $color; /* The Fallback */
    border-color: rgba($color, $opacity);
}

@mixin color-opacity($color, $opacity) {
    color: $color; /* The Fallback */
    color: rgba($color, $opacity);
}

/* Typography
*/

@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: normal;
    src: local('Playfair'), url('../fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-weight: 700;
    font-style: normal;
    src: local('Playfair Bold'), url('../fonts/Playfair/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: italic;
    src: local('Playfair Italic'), url('../fonts/Playfair/PlayfairDisplay-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 600;
    font-style: normal;
    src: local('WorkSans SemiBold'), url('../fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 400;
    font-style: normal;
    src: local('WorkSans'), url('../fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'League Spartan';
    font-weight: 700;
    font-style: normal;
    src: local('League Spartan'), url('../fonts/LeagueSpartan-Bold.ttf') format('truetype');
}

/* Styles
*/

html {
  background-color: $gisele-gray;
}

body {
  background-color: $gisele-gray;
  color: $gisele-green;
  font-size: 1.4rem;
  font-family: 'Work Sans', Roboto, Arial, sans-serif;
  font-weight: 400;
}

a {
    color: $gisele-green;
    font-family: 'League Spartan', Roboto, sans-serif;
    font-weight: 700;
    text-decoration: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; 
}

sup {
    font-size: 60%;
    font-family: 'Work Sans', Roboto, Arial, sans-serif;
    vertical-align: super;
    font-weight: 600;
    letter-spacing: 1px;
    a {
      font-size: inherit;
      font-family: 'Work Sans', Roboto, Arial, sans-serif;
      font-weight: 600;
      line-height: 1;
      text-align: center;
      background: rgba($gisele-red, 0.1);
      padding: 1px 6px;
      border-radius: 16px;
    }
}

strong, b { font-weight: 700; }

em, i { font-style: italic; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair', Georgia, serif;
    margin-bottom: 1rem; 
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) { margin-top:2em; }
  
h1 { font-size: 3rem; }
h2 { font-size:  1.5rem }
h3 { font-size:  1.25rem; }
h4 { font-size: inherit; }

hr {
  height: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid $gisele-green;;
  border-left: 0;
  margin: 1.25rem auto;
}

ul ul, ol ul, ul ol, ol ol { margin-left: 0; }

p {
  font-family: 'Playfair', Georgia, serif;
  line-height: 1.4;
  &:not(:first-child) { margin-top: 1.5rem; }
}

/* General styles
*/

.content {
  width: auto;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 39.9375em) { /* Small only */
    margin: 0;
  }
  /* Disable selection */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#top-navigation {
  z-index: 900;
  div {
    width: 100%;
    background-color: rgba($gisele-gray, 1);
    .menu {
        li {
          line-height: 1.2;
          text-transform: uppercase;
          color: rgba($gisele-red, 0.7);
          a {
              color: rgba($gisele-green, 0.5);
              font-size: 0.75rem;
              letter-spacing: 5px;
              display: block;
              padding: 1.5rem 1rem 0.5rem;
              &.selected,
              &:hover { color: rgba($gisele-green, 0.8); }
              &.router-link-active {
                  color: rgba($gisele-green, 1);
                  text-shadow:
                    1px 1px 0 $gisele-orange,
                    2px 2px 0 $gisele-orange,
                    3px 3px 0 $gisele-orange,
                    4px 4px 0 $gisele-orange;
              }
          }
          &.warpweft a {
            color: rgba($gisele-red, 0.8);
            font-family: 'Playfair', Georgia, serif;
            font-weight: 700;
            font-size: 1.25rem;
            letter-spacing: 2px;
            padding: 1rem 1rem 0.5rem;
            &.selected,
            &:hover,
            &.router-link-active {
                color: rgba($gisele-green, 1);
                text-shadow: 0 0 0 transparent; }
          }
        }
    }
  }
}

#narrative {
  #mobile-nav {
    display: block;
    text-align: left;
    font-weight: 600;
    margin: 0 1rem;
    label {
      font-size: 0.75rem;
      display: inline-block;
      padding: 0.5rem 0;
      select {
        font-size: 0.75rem;
        @media screen and (max-width: 39.9375em) { width: 100%; margin-top: 10px;}
      }
    }
  }

  #navigation {
    position: sticky;
    position: -webkit-sticky;
    top: 44px;
    @media screen and (max-width: 39.9375em) { top: 0; background: rgba($gisele-gray, 0.8); padding-top: 10px; padding-bottom: 10px; }
    z-index: 200;
    .loading {
      padding-top: 0.5rem;
      text-align: center;
      vertical-align: middle;
    }
    ul {
      padding: 0.5rem 1rem;
      width: 100%;
      height: 26px;
      li {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        min-height: 26px;
        a {
          display: block;
          font-size: 26px;
          background: rgba($gisele-green, 0.2);
          min-width: 10px;
          border-top: 1px solid $gisele-green;
          border-bottom: 1px solid $gisele-green;
          border-right: 1px solid $gisele-green;
          &:hover,
          &:focus {
            background: rgba($gisele-green, 0.5);
          }
        }
        &:first-child {
          a { border-left: 1px solid $gisele-green; }
        }
        &.active a { background: rgba($gisele-orange, 0.8); }
        &.visited a {
          background: rgba($gisele-orange, 0.8);
          &:hover,
          &:focus { background: rgba($gisele-orange, 1); }
        }
      }
    }
  }

  .chapter-container {
    .chapter-header {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      @media screen and (max-width: 39.9375em)                       { padding: 0 1rem 0; }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) { padding: 0 2rem 0; }
      @media screen and (min-width: 64em) and (max-width: 74.9375em) { padding: 0 4rem 0; }
      @media screen and (min-width: 75em)                            { padding: 0 10rem 0; }
      .illustration {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-height: 80vh;
        img {
          width: auto;
          max-height: 80vh;
          display: block;
        }
      }
    }
    .section-container {
      position: relative;
      .chapter {
        .chapter-title {
          font-family: 'League Spartan', Roboto, sans-serif;
          font-weight: 700;
          line-height: 1.2;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 3px;
          color: $gisele-white;
          margin: 0 auto;
          position: relative;
          z-index: 80;
          span {
            color: $gisele-white;
            background-color: $gisele-green;
            border: 2px solid $gisele-gray;
            display: block;
            padding: 1.5rem 2rem;
            margin: 0 auto -2rem;
          }
        }
        .chapter-content {
          font-family: 'Playfair', Georgia, serif;
          background-color: $gisele-gray;
          position: relative;
          border: 1px solid $gisele-green;
          z-index: 20;
          
          &::after {
            position: absolute;
            right: 0;
            bottom: -12px;
            left: 0;
            content: '';
            display: block;
            width: 0;
            height: 12px;
            width: calc(100%);
            background: url(../images/bg/green-oblique-stripe.png) repeat;
            z-index: 1;
            margin: auto;
          }
          a {
            font-size: 85%;
            letter-spacing: 1px;
          }
          p {
            line-height: 1.4;
            &:not(:first-child){ margin-top: 2rem; }
            br { display: none; }
            img {
              display: block;
              width: 100%;
              margin: 3rem 0 1rem;
            }
            &.restricted img {
              margin-top: 0.5rem;
              margin-bottom: 2rem;
            }
            video {
              display: block;
              width: 100%;
            }
          }
          .chapter-properties {
            font-family: 'Work Sans', Roboto, Arial, sans-serif;
            color: $gisele-green;
            position: absolute;
            left: calc(100% - 2rem);
            background-color: $gisele-gray;
            padding: 1rem 0.85rem 0.85rem;
            border-top: 1px solid $gisele-green;
            border-left: 1px solid $gisele-green;
            border-bottom: 1px solid $gisele-purple;
            width: intrinsic;
            width: -moz-max-content;
            width: -webkit-max-content;
            li { margin-bottom: 0.25rem; }
            .property {
              text-transform: uppercase;
              letter-spacing: 1px;
              &:not(:last-child) { margin-bottom: 0.85rem; }
              .values {
                font-weight: 600;
                text-transform: none;
                letter-spacing: 0;
                margin-top: 0.25rem;
                .value {
                  display: block;
                  &:not(:last-child)::after {
                    content: '';
                    margin: 0 0 0.25rem;
                  }
                }
              }
            }
            @media screen and (max-width: 39.9375em) { /* Small only */
              position: relative;
              left: 0;
              background-color: transparent;
              border: 0;
              padding: 0.85rem 0;          
            }
          }

        }
      }
      .chapter-sublayer {
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        filter: alpha(opacity=30);
        opacity: 0.3;
        cursor: pointer;
        -webkit-transition: opacity 500ms ease-in-out;
        -moz-transition: opacity 500ms ease-in-out;
        -ms-transition: opacity 500ms ease-in-out;
        -o-transition: opacity 500ms ease-in-out;
        transition: opacity 500ms ease-in-out;
        will-change: all;      
        &.visible {
          filter: alpha(opacity=100);
          opacity: 1;
        }
        .image-grid {
          position: relative;
          top: 6rem;
          /*
          top: 50%;
          transform: translateY(-50%);
          text-align: center;*/
          cursor: default;
          li {
            position: relative;
            display: inline-block;
            width: calc(100% / 8 - 10px);
            margin: 5px;
            text-align: center;
            @media screen and (min-width: 90em) {
            width: calc(100% / 10 - 10px);
            }
            &:hover,
            &:focus { cursor: pointer; }
            img {
              width: auto;
              height: auto !important;
              max-height: 180px;
              vertical-align: middle;
            
            }
            &.video {
              border: 1px solid rgba($gisele-green, 0.3);
              &::before {
                  display: block;
                  position: absolute;
                  content: " ▶ ";
                  color: rgba(0, 0, 0, 0.6);
                  font-size: 25px;
                  line-height: 1;
                  top: calc(50% - 12px);
                  left: calc(50% - 12px);
                  z-index: 5;
              }
              video {
                width: 100%;
                height: auto !important;
                max-height: 180px;
                vertical-align: middle;
              }
            } 
          }
        }
      }
    }
  }
}

/* Chapter properties
*/


.chapter-properties {
  font-size: 0.85rem;
  li { margin-bottom: 0.25rem; }
  .property {
    text-transform: uppercase;
    letter-spacing: 1px;
    &:not(:last-child) { margin-bottom: 0.85rem; }
    .values {
      font-weight: 600;
      text-transform: none;
      letter-spacing: 0;
      margin-top: 0.25rem;
      .value {
        display: inline-block;
        &:not(:last-child)::after {
          content: ', ';
          margin-left: -2px;
          margin-right: 8px;
        }
      }
    }
  }
}

/* Common text elements between parts:
 - quotes
 - references/footnotes
 - restricted images (images from the photo archive)
*/

#narrative .chapter-container .section-container .chapter .chapter-content .quote,
.reveal.image-sidebar .sidebar-content #detail-content blockquote,
#correspondence #letter-container .section-container .letter-content blockquote,
#correspondence #letter-container .section-container .letter-content blockquote p,
#correspondence #letter-container .section-container .letter-content blockquote p:first-child {
  color: rgba($gisele-blue, 0.7);
  font-family: 'League Spartan', Roboto, sans-serif;
  font-size: 100%;
  font-style: normal;
  line-height: 1.4;
  display: block;
  margin-right: 4rem;
  margin-left: 2rem;
  &:first-child::before {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    border-top: 2px solid rgba($gisele-blue, 0.8);
    margin-bottom: 1.25rem;
  }
  a {
    font-size: 100%;
    letter-spacing: 0;
    color: $gisele-green;
  }
  br { display: block; }
}

.reveal.image-sidebar .sidebar-content #detail-content blockquote {
  margin-top: 2rem;
  &::before {
      content: "";
      display: block;
      height: 2px;
      width: 40px;
      border-top: 2px solid rgba($gisele-blue, 0.8);
      margin-bottom: 1.25rem;
  }
  & + blockquote {
    &::before { display: none; }
  }
}


#narrative.chapter-container .section-container .chapter .chapter-content sup,
.reveal.image-sidebar .sidebar-content #detail-content sup,
#correspondence .section-container .letter-content sup {
  color: rgba($gisele-bluegreen, 0.7);
  cursor: pointer;
  a {
    font-size: inherit;
    color: rgba($gisele-bluegreen, 0.7);
    &:hover { color: $gisele-bluegreen; }
  }
  &:hover { color: $gisele-bluegreen; }
}

#narrative .chapter-container .section-container .chapter ol.references,
.reveal.image-sidebar .sidebar-content #detail-content ol.references,
#correspondence .section-container .letter-content ol.references {
  font-size: 85%;
  font-family: 'Playfair', Georgia, serif;
  line-height: 1.2;
  list-style-type: decimal;
  list-style-position: inside;
  border-top: 1px solid $gisele-green;
  margin-top: 2rem;
  padding-top: 2rem;
  li {
    &:not(:first-child) { margin-top: 0.85rem; }
    a {
      font-size: 0.875rem;
      white-space: nowrap;
      color: rgba($gisele-bluegreen, 0.7);
      &:hover { color: $gisele-bluegreen; }
    }
    i { font-style: italic; }
  }
}

p.restricted {
  position: relative;
  &::after {
    position: absolute;
    bottom: -20px;
    left: 70%;
    content: '';
    display: block;
    width: 50px;
    height: 180px;
    border-right: 50px solid rgba($gisele-white, 0.6);
    margin: 0;
  }
  img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
    display: block;
  }
}

#sidebar-reveal  p.restricted,
#correspondence p.restricted,
#narrative .chapter-content p.restricted  {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    img {
      max-width: 500px;
      height: auto;
      width: auto;
    }
}

#sidebar-reveal  p.restricted {
  margin-bottom: 2rem;
  &::after { border-color: rgba($gisele-orange, 0.6); }
}

#narrative .chapter-content  p.restricted {
  &::after { border-color: rgba($gisele-red, 0.6); }
}

#correspondence  {
  p.restricted::after { border-color: rgba($gisele-yellow, 0.6); }
}



/* Narrative UI Reveal
*/

body.is-reveal-open {
  /* allows vertical scroll */
  overflow: auto !important;
  .chapter-container .section-container .chapter-sublayer.visible {
   -webkit-filter: blur(12px);
   -moz-filter: blur(12px);
   filter: blur(12px);
   transition: all 300ms ease;
  }
}


#media-reveal.reveal-overlay { background-color: transparent !important; }

#media-reveal.reveal {
  background: transparent;
  border: 0;
  p.image {
    position: relative;
    &.restricted::after {
      border-color: rgba($gisele-white, 0.6);
      z-index: 500;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      &[src*=".jpg"],
      &[src*=".jpeg"] {
        border: 5px solid rgba($gisele-red, 0.8);
      }
      &[src*=".png"] {
        -webkit-filter: drop-shadow(6px 6px 15px rgba(72, 71, 66, 0.6)); /*$gisele-green*/
        filter: drop-shadow(6px 6px 15px rgba(72, 71, 66, 0.6));
      }
    }
    &.restricted img {
      margin: 0 auto;
    }
  }
  p.restricted + .image-details {
    max-width: 500px;
    margin: 0 auto;  
  }
  p.video {
    video {
      width: 100%;
      height: auto !important;
      border: 5px solid rgba($gisele-red, 0.8);
    }
  }
  
  .image-details {
    background: rgba($gisele-red, 0.8);
    color: $gisele-white;
    padding: 2rem 1rem 1rem;
    font-size: 0.975rem;
    position: relative;
    p {
      line-height: 1.3;
      max-width: 500px;
      margin-bottom: 1rem;
    }
  }
  
}


@media screen and (max-width: 39.9375em) { /* Small only */
  .chapter-container { 
    padding-top: 1.5rem;
    .section-container {
      .chapter {
        width: calc(100% - 1rem);
        margin: 1rem auto;
        .chapter-content {
          margin: 1rem auto;
          padding: 1.75rem 1.5rem 1rem;
        }
      }
      
      .chapter .chapter-title {
        font-size: 1.25rem; 
        max-width: calc(100% - 2rem);
        margin: 1rem auto 0;
      }
      
      .chapter h1 { font-size: 1.25rem; }
      .chapter h2 { font-size: 1rem }
      .chapter h3 { font-size: 0.95rem; }
      .chapter p { font-size: 1.1rem;
        a { font-size: 0.95rem; }
      }
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) { /* Medium only */
  
  .chapter-container { padding-top: 2rem; }
  .chapter {
    width: calc(100% / 1.2 );
    .chapter-content { padding: 2rem; }
    &.align-1 { margin-left: calc(100% / 5 + 1rem); }
    &.align-2 { margin-left: calc(100% / 5 - 1rem); }
    &.align-3 { margin-left: calc(100% / 5 + 2.5rem); }
    &.align-4 { margin-left: calc(100% / 5 - 2.5rem); }
    .chapter-title { max-width: calc(80% - 1.5rem); }
  }

}


@media screen and (min-width: 64em) and (max-width: 74.9375em) { /* Large only - 1024px */

  .chapter-container { padding-top: 3rem; }
  .chapter {
    width: calc(100% / 2 );
    .chapter-content { padding: 3rem 2rem; }
    &.align-1 { margin-left: calc(100% / 4 + 2.5rem); }
    &.align-2 { margin-left: calc(100% / 4 - 2.5rem); }
    &.align-3 { margin-left: calc(100% / 4 + 4.5rem); }
    &.align-4 { margin-left: calc(100% / 4 - 4.5rem); }
    .chapter-title { max-width: calc(70% - 4rem); }
  }
  .chapter-sublayer .image-grid { margin-left: 2rem; margin-right: 2rem; }
}

@media screen and (min-width: 75em) and (max-width: 89.9375em) { /* XLarge only - 1200px */
  
  .chapter-container { padding-top: 3rem; }
  .chapter {
    width: calc(100% / 2.4 );
    .chapter-content { padding: 3rem 4rem; }
    &.align-1 { margin-left: calc(100% / 3 + 3.5rem); }
    &.align-2 { margin-left: calc(100% / 3 - 3.5rem); }
    &.align-3 { margin-left: calc(100% / 3 + 6rem); }
    &.align-4 { margin-left: calc(100% / 3 - 6rem); }
    .chapter-title { max-width: calc(80% - 8rem); }
  }
  .chapter-sublayer .image-grid { margin-left: 2rem; margin-right: 2rem; }
}


@media screen and (min-width: 90em) {/* XXLarge and up - 1440px */
  
  .chapter-container { padding-top: 3rem; }
  .chapter {
    width: calc(100% / 2.4 );
    .chapter-content { padding: 3rem 4rem; }
    &.align-1 { margin-left: calc(100% / 3 + 3.5rem); }
    &.align-2 { margin-left: calc(100% / 3 - 3.5rem); }
    &.align-3 { margin-left: calc(100% / 3 + 6rem); }
    &.align-4 { margin-left: calc(100% / 3 - 6rem); }
    .chapter-title { max-width: calc(80% - 8rem); }
  }
  .chapter-sublayer .image-grid { margin-left: 2rem; margin-right: 2rem; }
}


[v-cloak] { 
  display: none; 
}

/* Correspondence
*/

#correspondence {
  padding-top: 2rem;
  padding-bottom: 2rem;
  #navigation {
    ul {
      li {
        a {
          font-size: 0.875rem;
          display: block;
          padding: 0.5rem 0;
        }
      }
    }
  }
  p.pagination {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    a {
      display: block;
      padding: 0.5rem 0;
      &:first-child { border-bottom: 1px solid $gisele-yellow; }
    }
  }
  #letter-container {
    section {
      font-family: 'Playfair', Georgia, serif;
      .letter-title {
        font-size: 3rem;
      }
      .letter-content {
        a { letter-spacing: 1px; }
        p {
          line-height: 1.4;
          margin-top: 2rem;
          &:first-child {
            font-size: 110%;  
            font-style: italic;
          }
          &:nth-child(2) { margin-top: 0.5rem; }
          br { display: none; }
          img {
            display: block;
            width: 100%;
            margin: 3rem 0 1rem;
          }
        }
      }
    }
  }
}

/* Semantic quilt styles */

#tapestry {
  a[href*="//"]:not([href*="http://37.218.246.155/~manufactura/"]) {
    &::after {
      display: inline-block;
      content: '↗';
      color: $gisele-orange;
      margin-left: 4px;
    }
  }


  .current-prop-values {
    background-color: #efefef;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-size: 0.875rem;
    }
      
    header {
      line-height: 1;
      padding-bottom: 1rem;
      text-align: center;
      a {
        font-weight: 600;
        display: inline-block;
        padding: 0.25rem 0.45rem;
        border: 1px solid #ddd;
        &:last-child {
          border-left: 0;
        }
        &:hover{
          color: $gisele-orange;
        }
      }
      strong.current-prop {
        font-family: 'Playfair', Georgia, serif;
        font-weight: 400;
        display: inline-block;
        margin-right: 0.45rem;
        min-width: 10rem;
        padding: 0.25rem 0.45rem;
      }
    }    
  }

  .current-prop-values ul {
    margin: 0;
    line-height: 1.1;
    padding-bottom: 0.45rem;
    
    li {
      list-style-type: none;
      &.selected-value a {
        font-weight: 600;
        color: $gisele-orange;
      }
      a {
        display: block;
        padding: 0.4rem 0.25rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            color: $gisele-orange;
        }
      }
    } 
  }


  #viewer {
    padding: 1rem 0;
    header {
        line-height: 1.1;
        padding: 1rem;
        p {
          font-size: 0.975rem;
          margin-bottom: 0.45rem;
        }
    }
    hr {
      padding: 1rem;
    }  
    .page-list {
      padding: 1rem 0;
      .subheader {
        strong {
          font-weight: normal;
          color: $gisele-orange;
        }
      }
      .pages {
        margin: 1rem 0 0;
        li {
          font-size: 0.875rem;
          line-height: 1.1;
          display: inline-block;
          list-style-type: none;
          margin: 0 0.85rem 0.85rem 0;
          width: calc(100% / 10 - 1.7rem );
          vertical-align: top;
          &:first-child {}
          &:hover {
            cursor: pointer;
            & > strong:first-child { color: $gisele-orange; }
            .page-preview { border: 1px solid $gisele-green; }
          }     
          & > strong:first-child {
            font-weight: 600;
            display: block;
            padding: 0 0 0.25rem;
            line-height: 1.1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          
          .page-preview {
            font-size: 4px !important;
            line-height: 4px !important;
            margin-bottom: 1px !important;
            display: block;
            border: 1px solid rgba($gisele-green, 0.3);
            padding: 0.85rem;
            &.active-image {
              border-color: ($gisele-green, 0.6);
            }

            &:before, &:after {
              content: " ";
              display: table;
            }

            &:after { clear: both; }
              
            & > * { /* make elements inside page preview not clickable */ 
              pointer-events: none;
            }

            h1, h2, h3 {
              font-size: 6px !important;
              line-height: 6px !important;
              margin-bottom: 2px !important;
            }
            
            h4, h5, h6,
            p, strong, em,
            ol, ul, li, dl,
            a, pre, code, blockquote,
            .smwtticon warning,
            .smwttcontent {
              font-size: 4px !important;
              line-height: 4px !important;
              margin-bottom: 2px !important;
            }
            p {
              &:not(:first-child) { margin-top: 0; }
              &.restricted{
                width: fit-content;
                width: -moz-fit-content;
                width: -webkit-fit-content;
                &::after { 
                  border-right: 4px solid rgba($gisele-red, 0.8);
                  bottom: 2px;
                  left: 10px;
                  width: 4px;
                  height: 10px;
                }
                
              }
            }
            
            ol, ul {
              margin-left: 4px; 
              list-style-position: inside; }
            ul { list-style-type: disc; }
            ol { list-style-type: decimal; }
            li { display: block; width: 100%; }
            
            blockquote {
              color: rgba($gisele-blue, 0.7);
              margin-left: 4px;
              margin-right: 20px;
            }
            
            br {
              display: block;
              margin-bottom: 2px;
              clear: both;
            }
            a { padding: 0; }
            .references a {
               display: block;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
            }

            table.infobox,
            table {
              width: 5px !important;
              margin-bottom: 2px !important;
              padding: 0;
              margin-left: 2px;
              border-collapse: collapse;
              border-spacing: 0;

              th, th span,
              td {
                font-size: 4px !important;
                line-height: 4px !important;
                padding: 0;
              }
            }

            /* resize and style images in the wiki page */        
            img {
              display: inline-block;
              height: 20px;
              width: auto !important;
              margin-bottom: 4px;
              margin-right: 2px;
              vertical-align: top;  
            }
            a.image {
              display: inline-block;
              height: 20px;
              margin: 4px 2px 4px 0;
              img {
                height: 20px;
                width: auto !important;
                vertical-align: top;  
                margin: 0;
              }  
            }
            & + img,
            & + a.image, & + a.image img,
            & > .center > .floatnone > a.image, & > .center > .floatnone > a.image img,
            & > .floatnone > a.image, & > .floatnone > a.image img {
              height: 35px;
              width: auto !important;
            }
            .mediaContainer,
            .kskin {
              width: 80% !important;
            }
            audio { display: none; }
          }
        }
      }
    }

  }

  ul.image-grid {
      margin: 1rem 0 0;
      padding: 0 0.85rem;
      text-align: center;
      li {
          list-style-type: none;
          display: inline-block;
          margin: 0;
          padding: 0;
          &.active-image,
          &:hover,
          &:focus {
              cursor: pointer;
              img,
              video { opacity: 1; }
          }
          &.active-image {
              box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.8);
          }
          img {
              display: inline-block;
              height: 140px;
              width:  auto;
              opacity: 0.9;
              z-index: -2;
          }
          &.quilt-video {
              position: relative;
              &::before {
                  display: block;
                  position: absolute;
                  content: " ▶ ";
                  color: rgba(255, 255, 255, 0.6);
                  font-size: 40px;
                  line-height: 1;
                  top: calc(50% - 25px);
                  left: calc(50% - 10px);
                  z-index: 5;
              }
              video {
                  display: inline-block;
                  height: 140px;
                  width:  auto;
                  max-width: 100%;
                  opacity: 0.9;
                  z-index: -2;
                  vertical-align: middle;
              }
          }
      }
  }
}

.reveal.image-sidebar {
      position: fixed;
      margin: auto;
      width: 420px;
      @media screen and (max-width: 39.9375em)                       { width: 100%; }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) { width: 70%; }
      @media screen and (min-width: 64em) and (max-width: 74.9375em) { width: 50%; }
      @media screen and (min-width: 75em)                            { width: 40%; }
      height: 100%;
      right: 0px !important;
      left: auto !important;
      top: 0;
      border-top: 0;
      border-bottom: 0;
      padding: 1rem 2rem;
      
      .next-button,
      .prev-button {
        font-family: 'League Spartan', Roboto, sans-serif;
        font-weight: 700;
        cursor: pointer;
        &:hover {
          color: $gisele-orange;
        }
      
       }

  .sidebar-content {
      #detail-title {
          margin-top: 1rem;
          margin-bottom: 1rem;
      }
      #detail-image {
        margin: 0 0 1rem;
        max-height: 75vh;
        width: auto;
      }
      #detail-content {
          font-family: 'Playfair', Georgia, serif;
          font-weight: 400;
          line-height: 1.4;
          margin-bottom: 0.45rem;
          p {
            max-width: 40rem;
            &:not(:first-child) { margin-top: 1rem; }
            & + em { /* example Tonight I brood... poem signature */
              display: block;
              margin-top: 1rem;
              margin-bottom: 1.5rem;
            }
          }
          /* wiki page previews */
          a.image,
          img {
            display: block;
            margin: 0.5rem 0;
          }
          br {
            display: block;
            margin-bottom: 0.5rem;
          }
          ul {
            list-style-position: inside;
          }
          
      }
      hr {
        border-color: $gisele-green;
        margin-top: 1rem;
      }
      h5 { margin-top: 1rem; }
      #detail-properties,
      #detail-imagelinks {
          ul {
              list-style-type: none;
              border-top: 1px solid $gisele-green;
              padding-top: 1rem;
              margin: 1rem 0 1rem 0;
              li {
                  font-size: 0.875rem;
                  line-height: 1.2;
                  margin-bottom: 0.25rem;
                  a {
                    color: rgba($gisele-green, 0.7);
                    display: inline-block;
                    padding: 0.25rem 0;
                    &:hover,
                    &:focus { 
                      color: rgba($gisele-green, 1);
                    }
                  }
              }
          }
      }
      #detail-video {
        max-width: 100%;
      }
      #detail-imagelinks {
          ul {
              list-style-type: none;
              margin-left: 0;
          }
      }
      
  }
}

/* Colophon & foreword
*/

.article-page {
  margin-top: 9px;
  .grid-x {
    padding-bottom: 2rem;
    
    .article-content {
      font-family: 'Playfair', Georgia, serif;
      p:first-child {
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        b { 
          font-size: 3rem;
          letter-spacing: 4px;
        }
        i {
          display: block;
          color: $gisele-blue;
          font-size: 1.5rem;
          font-family: 'League Spartan', Roboto, sans-serif;
          font-weight: 700;
          font-style: normal;
          font-weight: 700;
          letter-spacing: 2px;
          margin-top: 0.35rem;
        }
      }
      ul {
        li {
          color: $gisele-green;
          margin-bottom: 0.85rem;
          b {
            display: block;
            color: $gisele-blue;
            font-size: 1.15rem;
            font-family: 'League Spartan', Roboto, sans-serif;
            margin-top: 0.5rem;
          }
        }
      }
      hr + p > b {
          font-size: 2rem;
          display: block;
          margin-bottom: -1rem;
          margin-top: 2rem;
      }
      hr { display: none; }
    }
  }
}

#foreword {
    &.article-page .grid-x {
        padding-bottom: 0;
        .article-content {
          color: $gisele-gray;
          background: rgba($gisele-orange, 0.8);
          padding: 3rem 0 2rem;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          p {
            font-size: 1.15rem;
            font-family: 'Work Sans', Roboto, Arial, sans-serif;
            max-width: 40em; }
          p:first-child b {
            font-family: 'Playfair', Georgia, serif;
            line-height: 1;
            display: block;
            max-width: 11em;
          }
          p.restricted {
            margin-bottom: 2rem;
            img {}
            & + p > b {
              color: $gisele-green;
              font-family: 'League Spartan', Roboto, sans-serif;
              font-size: 1.25rem;
              letter-spacing: 4px;
              line-height: 1.2;
              text-transform: uppercase;
            }
          }
          p.restricted,
          .narrationtext {
            padding-right: .9375rem;
            padding-left: .9375rem;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
          }
        }
        @media screen and (max-width: 39.9375em) {
            .article-content p.restricted { width: 100%; }
            .article-content .narrationtext { width: 100%; }
            .article-content p.restricted:after { bottom: -20px; }
        }
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
            .article-content p.restricted { width: 50%; }
            .article-content .narrationtext { width: 50%; }
            .article-content p.restricted:after { top: 20%; bottom: auto; }
        }
        @media screen and (min-width: 64em) {
            .article-content p.restricted { width: 33.33333%; }
            .article-content .narrationtext { width: 66.66667%; }
            .article-content p.restricted:after { top: 600px; bottom: auto; }
        }
    }
}

/* Loader */

.loading {
  padding-top: 1.5rem;
  color: rgba($gisele-orange, 0.6);
  font-size: 0.75rem;
  font-family: 'League Spartan', Roboto, sans-serif;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  span {
    display: inline-block;
    padding-right: 0.75rem;
    vertical-align: middle;
  }
  .line-scale {
  display: inline-block;
  vertical-align: middle;
  }
  
  /* by ConnorAtherton
  https://github.com/ConnorAtherton/loaders.css */

  @-webkit-keyframes line-scale {
    0% {
      -webkit-transform: scaley(1);
              transform: scaley(1); }
    50% {
      -webkit-transform: scaley(0.4);
              transform: scaley(0.4); }
    100% {
      -webkit-transform: scaley(1);
              transform: scaley(1); } }
  @keyframes line-scale {
    0% {
      -webkit-transform: scaley(1);
              transform: scaley(1); }
    50% {
      -webkit-transform: scaley(0.4);
              transform: scaley(0.4); }
    100% {
      -webkit-transform: scaley(1);
              transform: scaley(1); } }

  .line-scale > div:nth-child(1) {
    -webkit-animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(2) {
    -webkit-animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(3) {
    -webkit-animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(4) {
    -webkit-animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(5) {
    -webkit-animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div {
    background-color: rgba($gisele-orange, 0.6);
    width: 4px;
    height: 30px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block; }

}
