<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Warp and Weft of Memory</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/motion-ui/dist/motion-ui.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div id="app" class="grid-container full">
      <div class="grid-x current-prop-values">
        <header class="large-12 cell text-center">
            <span>
                <strong class="current-prop">{{ activeProperty }}</strong>
                <a v-on:click="prevProperty()" class="previous-prop" href="#">&larr;</a><a v-on:click="nextProperty()" class="next-prop" href="#">&rarr;</a>
            </span>
        </header>
        <nav  class="large-12 cell">
            <ul class="grid-x text-center">
              <li v-for="value in activeValues" 
                   v-bind:key="value"
                   v-bind:class="getValueListClass(value)"
                   v-on:click="showImages(activeProperty, value)"
                   class="large-2 medium-3 small-4 cell"
                   >
                   <a href="#">{{ value }}</a>
              </li>
            </ul>
        </nav>
      </div><!-- /.current-prop-values -->
      
      <header class="large-12 cell">
        <h2 class="subheader">{{ selectedProperty }} — {{ selectedValue }}</h2>
        <h5 class="status">{{ status }}</h5>
      </header>

      <div class="grid-x grid-padding-x viewer">
        <div class="large-12 cell">
          <ul class="image-grid">
            <li v-for="result in results" 
                 v-bind:key="result.pageid"
                 data-toggle="sidebar-reveal"
                 >
                 <img class="quilt-image" :src="result.thumburl" :alt="result.pageid" v-on:click="getPageHTML($event, result.title)">
            </li>
          </ul>

          <hr v-if="pages.length">
          <h5 v-if="pages.length">Pages with value <strong>{{ selectedValue }}</strong> for the {{ selectedProperty }} property</h5>
          <ul class="pages">
            <li v-for="page in pages" 
                 v-bind:key="page.pageid"
                 >
                 <a :href="'http://37.218.246.155/warpweft-wiki/index.php/' + page.title" target="_blank">{{ page.title }}</a>
            </li>
          </ul>
        </div>

        <div class="callout image-sidebar" id="sidebar-reveal" data-toggler data-closable="slide-out-right">
        <!-- <div class="reveal image-sidebar" id="sidebar-reveal" data-reveal data-overlay="false"> -->
        <!-- data-animation-in="slide-in-right" data-animation-out="slide-out-right"> -->
          <button class="close-button" data-close>&times;</button>
          <div class="sidebar-content">
              <h3 id="detail-title"><a :href="'http://37.218.246.155/warpweft-wiki/index.php/' + detail.title" target="_blank">{{ detail.title.replace('File:', '') }}</a></h3>
              <div id="detail-content" v-html="detail.content"> </div>
              <div id="detail-imagelinks">
                <hr v-if="detail.imagelinks.length">
                <h5 v-if="detail.imagelinks.length">Pages that link to this image</h5>
                <ul>
                  <li v-for="page in detail.imagelinks" 
                      v-bind:key="page.pageid"
                      >
                      <a :href="'http://37.218.246.155/warpweft-wiki/index.php/' + page.title" target="_blank">{{ page.title }}</a>
                  </li>
                </ul>
              </div>
            </div><!-- /.sidebar-content-->
        </div><!-- /#sidebar-reveal .reveal-->
      
      </div>
    </div>

    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/what-input/dist/what-input.js"></script>
    <script src="/bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="/bower_components/vue-resource/dist/vue-resource.js"></script>
    <script src="/bower_components/motion-ui/dist/motion-ui.js"></script>
    <!-- endbower -->
    <script src="/bower_components/vue/dist/vue.js"></script>
    <script src="/bower_components/vue-resource/dist/vue-resource.js"></script>
    <!--<script src="https://unpkg.com/vue"></script>-->
    <!--<script src="https://unpkg.com/vue-resource"></script>-->
    <!-- <script src="js/vendor/vue.js"></script> -->
    <!--<script src="js/vendor/vue-resource.js"></script>-->
    <script src="js/app.js"></script>
    <script type="text/javascript">
        $(document).foundation();
    </script>
  </body>
</html>
