/* Typography
*/

@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    font-style: normal;
    src: local('Playfair'), url('../fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 600;
    font-style: normal;
    src: local('WorkSans SemiBold'), url('../fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 400;
    font-style: normal;
    src: local('WorkSans'), url('../fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
}

@import 'foundation/settings';

// bower:scss
@import "bower_components/foundation/scss/foundation.scss";
// endbower

/* Value tree styles */

a { outline: 0; }

.expanded {
  width: 100%;
  max-width: 100%;
  padding-bottom: 2rem;
  
  .row {
    width:100%;
    max-width:100%;
    padding-top: 2rem;
  }
  
  .property {
    .columns {}
    .center-to-height {
      h2 {
        text-transform: capitalize;
      }
    }
    
    .property-list li {
      &.active a {
        background-color: rgba(229, 67, 70, 0.1);
        border-radius: 3px;
      }
      a {
        font-size: 90%;
        line-height: 1.1;
        text-transform: uppercase;
        display: block;
        padding: 0.45rem 0.5rem;
        
        &:hover {
          background-color: rgba(229, 67, 70, 0.1);
          border-radius: 3px;
        }
      }
    }
    
    .property-value-list {
      display: none;
      float: left;
      
      &.row { padding-top: 0; }
      
      li {
        font-size: 85%;
        line-height: 1.1;
        a {
          display: inline-block;
          padding: 0.25rem 0.75rem;
          &:hover { font-weight: 600; }
        }
      }
      
      #align-list.utility {
        line-height: 1.1;
        text-align: right;
        padding-top: 0.45rem;
        padding-bottom: 0.75rem;
        padding-left: 1.9375rem;
        padding-right: 1.9375rem;
        margin-bottom: 0;
        background-color: #fff;
        
        a {
          display: inline-block;
          padding: 0.15rem 0.45rem;
          &:hover {
            background-color: rgba(229, 67, 70, 0.1);
            border-radius: 3px;
          }
        }
      }

      .small-12.columns {
        background-color: #fff;
        
        .related-items-item { 
          padding-bottom: 1rem;
              
          a.page-name {
            display: block;
            padding: 0 0 0.15rem;
            line-height: 1.1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        
          .image-preview {
            display: block;
            border: 1px solid #ccc;
          }
          .page-preview {
            display: block;
            border: 1px solid #ccc;
            padding-top: 0.45rem;
            padding-bottom: 0.45rem;
            padding-left: 0.45rem;
            padding-right: 0.45rem;
            
            &:before, &:after {
                content: " ";
                display: table;
            }
            
            &:after { clear: both; }
            
            h1, h2, h3, h4, h5, h6,
            p, strong, em,
            ol, ul, li, dl,
            a, pre, code, blockquote,
            .smwtticon warning,
            .smwttcontent  {
              font-size: 4px !important;
              line-height: 4px !important;
              margin-bottom: 1px !important;
            }
            
            br { display: none !important; }
            a { padding: 0; }
            
            table.infobox,
            table {
              width: 5px !important;
              margin-bottom: 1px !important;
              padding: 0;
              margin-left: 2px;
              border-collapse: collapse;
              border-spacing: 0;
              
              th, th span,
              td {
              font-size: 4px !important;
              line-height: 4px !important;
              padding: 0;
              }
            }
            
            /* resize and style images in the wiki page */
            .thumbinner {
              width: auto !important;
              margin-bottom: 2px;
              a.image {
                display: inline-block;
                background: #eee;
                padding: 0.25rem;
                border: 1px solid #ddd;
                color: #eee;
                img { width: 100% !important; }  
              }
              
              .thumbcaption { display: none; }
            }
            .mediaContainer,
            .kskin,
            audio {
              max-width: 100% !important;
            }

          }
        } /* end related-items-item*/
      }
    } /* end property-value-list */
  }
}

#content-loader {
  padding-top: 1.5rem;
  
  span {
    display: inline-block;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    vertical-align: middle;
  }
  .line-scale {
  display: inline-block;
  vertical-align: middle;
  }
  
  /* by ConnorAtherton
  https://github.com/ConnorAtherton/loaders.css */

  @-webkit-keyframes line-scale {
    0% {
      -webkit-transform: scaley(1);
              transform: scaley(1); }
    50% {
      -webkit-transform: scaley(0.4);
              transform: scaley(0.4); }
    100% {
      -webkit-transform: scaley(1);
              transform: scaley(1); } }
  @keyframes line-scale {
    0% {
      -webkit-transform: scaley(1);
              transform: scaley(1); }
    50% {
      -webkit-transform: scaley(0.4);
              transform: scaley(0.4); }
    100% {
      -webkit-transform: scaley(1);
              transform: scaley(1); } }

  .line-scale > div:nth-child(1) {
    -webkit-animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(2) {
    -webkit-animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(3) {
    -webkit-animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(4) {
    -webkit-animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div:nth-child(5) {
    -webkit-animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

  .line-scale > div {
    background-color: rgba($primary-color, 0.6);
    width: 4px;
    height: 30px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block; }

}









